.hero__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.hero__header {
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    color: var(--text);
}

.hero__paragraph {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    color: var(--secondary);
    margin-top: 1rem;
}

.hero__button--container {
    display: flex;
    justify-content: center;
}

.hero__link {
    text-align: center;
}

.hero__button {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}