.professional__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.professional__header {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: var(--secondary)
}

.professional__body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3rem;
    width: 95%;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
}

.professional__body--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--secondary);
    border-radius: .25rem;
}

.professional__image {
    height: 15rem;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

#professional__crawl--space {
    object-fit: fill;
}

.professional__subheader,
.professional__paragraph,
.professional__link {
    width: 95%;
    margin: auto;
}

.professional__subheader {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--background)
}

.professional__paragraph {
    font-size: 1.15rem;
    font-weight: 200;
    color: var(--background)
}

.professional__button {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    width: 100%;
}

@media (max-width: 900px) {
    .professional__body {
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }
}

@media (max-width: 500px) {
    .professional__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .professional__header {
        text-align: left;
        font-size: 3rem;
        line-height: 3.5rem;
        margin: auto;
        width: 95%;
    }

    .professional__body {
        grid-template-columns: repeat(1, auto);
    }
}

@media (max-width: 250px) {
    .professional__header {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}