.why__container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 95%;
    margin: auto;
    gap: 3rem;
}

.why__subcontainer {
    width: 100%;
}

.why__header {
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
    color: var(--secondary);
    margin-bottom: 2rem;
}

.why__header span {
    color: var(--primary)
}

.why__paragraph {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 200;
    color: var(--text)
}

.why__image {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    object-position: center;
    border-radius: .25rem;
}

#why__image--container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1300px) {
    .why__container {
        gap: 1rem;
    }

    .why__paragraph {
        margin-bottom: .5rem;
    }

    .why__header {
        margin-bottom: 1rem;
    }

    #why__image--container {
        gap: 1rem;
    }

    .why__image {
        height: 15rem;
        width: 15rem;
        object-fit: cover;
        object-position: center;
        border-radius: .25rem;
    }
}

@media (max-width: 1000px) {
    .why__paragraph {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .why__header {
        margin-bottom: 1rem;
        font-size: 3rem;
        line-height: 4rem;
    }

    #why__image--container {
        grid-template-columns: repeat(1, auto);
    }

    .why__image {
        height: 15rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: .25rem;
    }
}

@media (max-width: 850px) {
    .why__container {
        flex-direction: column;
    }

    .why__image {
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }

    #why__image--container {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 600px) {
    .why__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .why__paragraph {
        font-size: 1.15rem;
        line-height: 1.75rem;
    }

    .why__header {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #why__image--container {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 300px) {
    .why__header {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .why__image {
        height: 10rem;
    }

    #why__image--container {
        grid-template-columns: repeat(1, auto);
    }
}